.qodo
temp/reflect_run.txt
pdf_downloads/A4Q-SDET_Syllabus_v2022_EN.pdf
pdf_downloads/CT-GenAI-Syllabus-v1.0-1.pdf
pdf_downloads/CTAL-TTA_v4.0_DE_-Advanced-Syllabus.pdf
pdf_downloads/ISTQB_CT-AI_Syllabus_v1.0.pdf
pdf_downloads/ISTQB_CT-AI_Syllabus_v1.1_DE.pdf
pdf_downloads/ISTQB_CT-ATLaS_Syllabus_v2.0.pdf
pdf_downloads/ISTQB_CT-TAS_Syllabus_v1.0.pdf
pdf_downloads/ISTQB_CTAL-TA_Syllabus_v3.1.0_EN.pdf
pdf_downloads/ISTQB_CTAL-TA_Syllabus_v3.1.2.pdf
pdf_downloads/ISTQB_CTAL-TAE_Syllabus_v2.0.pdf
pdf_downloads/ISTQB_CTAL-TAE_Syllabus_v2019_EN.pdf
pdf_downloads/ISTQB_CTAL-TM_Syllabus_v3.0.pdf
pdf_downloads/ISTQB_CTFL_Syllabus_v4.0.1.pdf
pdf_downloads/ISTQB_STE_v1.0.1-Syllabus.pdf
pdf_downloads/ISTQB-CT-TAS-Syllabus-v1.0-DE.pdf
pdf_downloads/ISTQB-CTAL-ATT_Syllabus_v1.1_EN.pdf
pdf_downloads/ISTQB-CTAL-SEC_Syllabus_v2016_EN.pdf
pdf_downloads/ISTQB-CTAL-TA-Syllabus-v4.0-EN-4.pdf
pdf_downloads/ISTQB-CTAL-TAE-Syllabus-v2.0-DE.pdf
pdf_downloads/ISTQB-CTAL-TTA_Syllabus_v4_EN.pdf
pdf_downloads/ISTQB-CTEL-ITP_Syllabus_v1.0_2011.pdf
pdf_downloads/ISTQB-CTEL-TM_Syllabus_v1.0_2011.pdf
pdf_downloads/ISTQB-CTFL-AcT_Syllabus_v2019_EN.pdf
pdf_downloads/ISTQB-CTFL-AT_Syllabus_v2014_EN.pdf
pdf_downloads/ISTQB-CTFL-AuT_Syllabus_v2018_EN.pdf
pdf_downloads/ISTQB-CTFL-MAT_Syllabus_v2019_EN.pdf
pdf_downloads/ISTQB-CTFL-PT-Syllabus_v2018_EN.pdf
pdf_downloads/ISTQB-CTFL-UT_Syllabus_v2017_EN.pdf

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.vscode/c_cpp_properties.json
.vscode/launch.json
